# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env

# IDEs
.idea/
.vscode/

# Testing / cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# Docker
*.log

# Build artifacts
dist/
build/

